<section class="parallax parallax2" style="padding-bottom: 33px;" data-parallax-speed="-0.5">
    <div class="container">
        <div class="title-wrap title-wrap__md wow fadeInUp" style="margin-bottom: 20px;" data-wow-delay="0.2s">
            <!-- <h4>Fe opquat veerteop</h4> -->
            <h2>Testimonials</h2>
        </div>

        <!-- <owl-carousel
            #owlElement
            [options]="{items: 1, dots: true, navigation: false}"
            [items]="images"
            [carouselClasses]="['owl-theme', 'row', 'sliding']">
                <div class="item-1 box" *ngFor="let image of images;let i = index">
                    <div class="box_aside thumbnail-image">
                        <img [src]="image.img" alt=""/>
                    </div>        
                    <div class="box_cnt__no-flow">
                        <h4>
                            <a [href]="image.href">{{ image.title }}</a>
                        </h4>
                        <p>{{ image.text }}</p>
                    </div>
                </div>
        </owl-carousel> -->

        <!-- <div class="owl-carousel  owl-carousel__md2 wow fadeInLeft" data-wow-delay="0.2s">
            <div class="item-1 box">
                <div class="box_aside">
                    <img src="assets/images/page-1_img19.jpg" alt=""/>
                </div>
                <div class="box_cnt__no-flow">
                    <h4>
                        <a href="#">Alex Gordon</a>
                    </h4>
                    <p>Seo eros et accumsan et iusto odio dignissim qui blandit praesent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem vestigationes demonstraverunt lectores legere me lius</p>
                </div>
            </div>

            <div class="item-1 box">
                <div class="box_aside">
                    <img src="assets/images/page-1_img20.jpg" alt=""/>
                </div>
                <div class="box_cnt__no-flow">
                    <h4>
                        <a href="#">Kate Smith</a>
                    </h4>
                    <p>Deo dignissim qui blandit praesent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem vestigationes demonstraverunt lectores legere me lius</p>
                </div>
            </div>
        </div> -->
    </div>
</section>