<section class="popular">
    <div class="container">
        <div class="title-wrap">
            <h3>Каталог Городов</h3>
        </div>

        <div class="row row__offset" *ngFor="let citysMass of citys">
            <div class="col-6 description" *ngFor="let city of citysMass">
                <div class="description-div" style="height:417px">
                    <h4 class="lh">
                        <a [routerLink]="city.link">{{ city.name }}</a>
                    </h4>
                    <div class="row" class="center">
                        <a [routerLink]="city.link">
                            <img alt="" class="catalog-img" [src]="city.img">
                        </a>
                    </div>
                    <div class="row">
                        <p>{{ city.description }}</p>
                    </div>
                    <div class="row" style="justify-content: flex-end;">
                        <button (click)="goToLandmark(city._id, city.link);" class="btn-wrap btn-wrap-2">Просмотреть</button> <!-- [routerLink]="city.link" -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>