<section class="bg01 well-1">
    <div class="container">
        <div class="title-wrap wow fadeInUp" data-wow-delay="0.2s">
            <h2>Каталог Городов</h2>
        </div>

        <div class="row row__offset wow fadeIn" *ngFor="let citysMass of citys" data-wow-delay="0.4s">
            <div class="col-6 description" *ngFor="let city of citysMass">
                <div class="col-6" style="float:left">
                    <img [src]="city.img"  class="mt" alt=""/>
                </div>
                <div class="col-6" style="float:right">
                    <h4 class="lh"><a [routerLink]="city.link">{{ city.name }}</a></h4>
                    <p>{{ city.population }}</p>
                    <p>{{ city.count_landmarks }}</p>
                    <p>{{ city.age }}</p>
                    <a (click)="goToLandmark(city._id, city.link)" class="btn-wrap btn-wrap-2">Просмотреть</a>
                </div>    
            </div> 
        </div>

    </div>
</section>