<section class="bg01 well-1 well-1__off4">
  <div class="container">
    <div class="title-wrap"><h2>Усадьба</h2></div>
    <div class="row row__offset-1">
      <div class="grid_10 preffix_1">
        <img src="assets/images/tarnovo/t.jpg" class="mt first" alt="" />

        <p></p>
        <p>
          Изящная восстановленная усадьба Тарново расположена в Лидском районе
          Гродненщины. Старинный дом стоит на правом берегу реки Дитвы в двух
          десятках километров от Лиды, в 4 км от трассы на Гродно из Минска.
          Туристы, которые едут посмотреть областной центр, на отдыхе в
          Гродненской области могут приехать сюда и узнать бурную историю
          имения. Известно, что в XVII столетии усадьба уже была на этом месте и
          носила название Тарновщизна. Имя она получила от фамилии первого мужа
          Анны Завиши – Петра Тарновского. В промежутке между 1600 и 1808 годом
          Тарновщизна принадлежала Завишам. В 1808 году за долги Николай
          Радзивил имение ушло Тадеушу Андрейковичу, а его сын уже продал
          усадьбу Константину Иосифовичу Кашицу в период 1847-54 гг. Кашицы не
          задержались в хозяевах – они активно участвовали в восстаниях, и в
          1866 году обширные земли ушли роду Мавросов.
        </p>
        <img src="assets/images/tarnovo/1.jpg" class="mt first" alt="" />
        <p></p>
        <p>
          Дмитрий Маврос активно взялся за развитие Тарново: в 1880-85-х годах
          отстроил дворец, винокурню, конюшни, ледник, ветряк, хоздвор, разбил
          парк и два пруда. Библиотека Д.Н. Мавроса имела значительную ценность:
          из 9 000 томов на русском и иностранных языках были издания из Венеции
          (типография Альдо-Манучи), книги 17 столетия, напечатанные в
          типографии Эльзевиров (эльзевиры). Библиотеку в 1920 году пережали в
          Румянцевский музей. Предположительно, за проект отвечал архитектор
          Викентий Горский. Сохранившееся сейчас здание отражает свой старинный
          облик: ассиметричное здание из кирпича с ранними чертами стиля модерн
          имеет ступенчатую композицию фасада с ризалитом на нем. Оригинальная
          четырехэтажная башня с трехчастными окнами и нишей сверху примыкает с
          запада. С востока пристроен один этаж с двумя крыльцами. Внутри здание
          имело анфиладно-коридорную планировку. Имелась точеная лестница с
          балясинами. Внутри были лепнина и паркет.
        </p>
        <app-news-last-video></app-news-last-video>
        <p>
          Южные окна выходили на парк с дубами, кленами и ясенем и небольшую
          аллею. Из спиленного дуба с диаметром 2,5 метров около 1880 года
          хозяева устроили беседку. Сейчас в одном из хозяйственных домов
          устроено жилище. Это здание из кирпича с двухскатной крышей почему-то
          называется конюшней, хотя никаких признаков нет. Настоящий дом
          прислуги с оставшейся лепниной сохранился рядом.
        </p>
        <img src="assets/images/tarnovo/2.jpg" class="mt first" alt="" />
        <p></p>
        <p>
          В 1892 году на территории имения появилась каплица по имя Святого
          Дмитрия Солунского. Небольшое готическое здание с маленькой
          колокольней было хорошо оборудовано, а внизу была фамильная
          усыпальница. Ее разорили в 1939 году. На картах 194 года также хорошо
          видно водяную мельницу на нижнем пруду в три яруса. Владения Николая
          Дмитриевича Мавроса в начале ХХ века имели 3384 десятины земли, а уже
          в 1940 году все они были включены в племхоз. Потом Тарновщизна была
          полицейским участком и гминой. После войны тут стояли хоздворы
          воинской части.
        </p>
        <p>
          В 2000-х годах, чтобы спасти имение от запустения, ЛРСУП «Можейково»
          начали его реконструировать, добавив в мансарде 1 метр, но сохранив
          балконы, арочные окна с бровками, рустованные углы.
        </p>

        <!-- <a class="mail mail-off" href="mailto:#"><strong>privacy@demolink.org</strong></a> -->
      </div>
    </div>
  </div>
</section>
