<section class="bg01 well-1">
    <div class="container">
        <div class="title-wrap  wow fadeInUp" data-wow-delay="0.2s">
            <h4>Duis eu erat et</h4>

            <h2>LIBRARY FUNDING</h2>
        </div>
        <div class="row row__offset">
            <div class="grid_6 wow fadeInLeft" data-wow-delay="0.2s">
                <table class="table-wrap">
                    <tr class="color-row-1">
                        <td>Praesent vestibulum molestie</td>
                        <td>63.3%</td>
                    </tr>
                    <tr class="color-row-2">
                        <td>Aenean nonummy hendrerit</td>
                        <td>31.3%</td>
                    </tr>
                    <tr class="color-row-1">
                        <td>Vivamus eget nibh</td>
                        <td>2.1%</td>
                    </tr>
                    <tr class="color-row-2">
                        <td>Etiam cursus leo vel metus</td>
                        <td>1.2%</td>
                    </tr>
                </table>
            </div>

            <div class="grid_6 wow fadeInRight" data-wow-delay="0.2s">
                <table class="table-wrap">
                    <tr class="color-row-1">
                        <td>Nulla facilisi aenean nec eros</td>
                        <td>0.73%</td>
                    </tr>
                    <tr class="color-row-2">
                        <td>Vestibulum ante ipsum primis</td>
                        <td>0.51%</td>
                    </tr>
                    <tr class="color-row-1">
                        <td>In faucibus orciluctus et</td>
                        <td>0.12%</td>
                    </tr>
                    <tr class="color-row-2">
                        <td>Ultrices posuere cubilia Curae</td>
                        <td>0.02%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>