    <div class="fox-sidebar" style="height: 100%;">
        <div class="sidebar-item" id="block36" style="height: 100%;">
            <div class="sidebar-item-inner" style="height: 100%;">
                <h3 class="sidebar-item-title">Меню</h3>
                <ul class="sidebar-categories-list">
                    <li><a routerLink="/">Главная</a></li>
                    <li><a routerLink="/catalog">Каталог</a></li>
                    <li><a routerLink="/contacts">Контакты</a></li>
                    <li><a routerLink="/about">О нас</a></li>
                </ul>
                <h3 class="sidebar-item-title">Каталог</h3>
                <ul class="sidebar-categories-list">
                    <li class="lida"><a routerLink="/catalog/lida">Лида</a>
                        <ul>
                            <li><a routerLink="/catalog/lida/zamok">Замок Гедимина</a></li>
                            <li><a routerLink="/catalog/lida/lidapoezd">Памятник воинам железнодорожникам</a></li>
                            <li><a routerLink="/catalog/lida/kafe-yukon">Юкон</a></li>
                            <li><a routerLink="/catalog/lida/club-mayak">Маяк</a></li>
                            <li><a routerLink="/catalog/lida/chehov-bar">Чеховъ</a></li>
                        </ul>
                    </li>
                    <li class="tarnovo"><a routerLink="/catalog/tarnovo">Тарново</a>
                        <ul class="tarnovo">
                            <li><a routerLink="/catalog/tarnovo/ysad">Тарновская усадьба</a></li>
                        </ul>
                    </li>
                    <li class="tarnovo"><a routerLink="/catalog/belogrudo">Белогрудо</a>
                        <ul class="tarnovo">
                            <li class="tarnovo"><a routerLink="/catalog/belogrudo/b">Костёл</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
