<section class="well-1 well-1__off1">
    <div class="container">
        <div class="title-wrap wow fadeInUp" data-wow-delay="0.2s">
            <h4>Proin non vulputat</h4>

            <h2>Board of Trustees</h2>
        </div>
        <div class="row row__md">
            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.1s">
                <img src="assets/images/page-2_img08.jpg" alt=""/>
                <h4>
                    <a href="#">Lewis Tompson</a>
                </h4>
                <p class="offset-2">Eget metus vestibulum congue dui ut porta aenean laoreet viverra turpis.</p>
            </div>
            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.2s">
                <img src="assets/images/page-2_img09.jpg" alt=""/>
                <h4>
                    <a href="#">Sandra Bullock</a>
                </h4>
                <p class="offset-2">Congue dui ut porta aenean laoreet viverra turpis a commodo purus.</p>
            </div>
            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.3s">
                <img src="assets/images/page-2_img10.jpg" alt=""/>
                <h4>
                    <a href="#">John McCoist</a>
                </h4>
                <p class="offset-2">Turpis a commodo purus eleifend a. Nam lacus dui; egestas ut aliquam.</p>
            </div>
            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.4s">
                <img src="assets/images/page-2_img11.jpg" alt=""/>
                <h4>
                    <a href="#">Jessica Priston</a>
                </h4>
                <p class="offset-2">Egestas ut aliquam nec eleifend sit amet est. Nam justo elit dictum.</p>
            </div>
        </div>

        <div class="row row row__offset">
            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.5s">
                <img src="assets/images/page-2_img12.jpg" alt=""/>
                <h4>
                    <a href="#">Walter White</a>
                </h4>
                <p class="offset-2">Nam justo elit dictum id tempus a, ultricies tempus lacus nunc purus.</p>
            </div>
            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.6s">
                <img src="assets/images/page-2_img13.jpg" alt=""/>
                <h4>
                    <a href="#">Barbara Nilson</a>
                </h4>
                <p class="offset-2">Tempus a, ultricies tempus lacus nunc purus nibh; eleifend eget
                                    facilisis.</p>
            </div>
            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.7s">
                <img src="assets/images/page-2_img14.jpg" alt=""/>
                <h4>
                    <a href="#">William Oakes</a>
                </h4>
                <p class="offset-2">Lacus nunc purus nibh; eleifend eget facilisis ac, sagittis non tortor. </p>
            </div>
            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.8s">
                <img src="assets/images/page-2_img15.jpg" alt=""/>
                <h4>
                    <a href="#">Richard Torry</a>
                </h4>
                <p class="offset-2">Eleifend eget facilisis ac, sagittis non tortor. Vivamus eu enim a orci.</p>
            </div>
        </div>
    </div>
</section>