<section class="well-1">
    <div class="container">
        <div class="title-wrap fadeInUp" data-wow-delay="0.2s">
            <!-- <h4>Nunc pharetra orci</h4> -->

            <h2>Вступление</h2>
        </div>
        <div class="row row__offset-1">
            <div class="col-3 fadeInRight" style="width:25%;" data-wow-delay="0.3s">
                <img src="assets/images/page-2_img03.jpg" class="mt" alt=""/>
            </div>
            <div class="col-9 wow fadeInRight" style="width:70%;" data-wow-delay="0.2s">
                <h4 class="lh">
                    <a routerLink="/">Моя малая Родина:</a>
                </h4>
                <p>Родина — это земля, на которой мы родились, земля нашей семьи, наших предков; то место, которое даёт нам силы, дарит уверенность в себе, окружает любовью и лаской. У каждого человека есть очень близкое и родное место, где он чувствует себя спокойно и непринужденно. На земле нет такого человека, который бы не испытывал любовь к малой Родине, так как у каждого должен быть свой причал, где можно на время остановится и отдохнуть от забот и проблем.</p>
            </div>
            <!-- <div class="grid_4 wow fadeInRight" data-wow-delay="0.1s">
                <ul class="mark-list">
                    <li>
                        <a href="#">Excel in customer service</a>
                    </li>
                    <li>
                        <a href="#">Be the first choice for information</a>
                    </li>
                    <li>
                        <a href="#">Anticipate and meet changing needs</a>
                    </li>
                    <li>
                        <a href="#">Assure equitable access to the Library’s resources and services</a>
                    </li>
                    <li>
                        <a href="#">Be a dynamic force in the community</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</section>