<section class="popular">
    <div class="container">
        <div class="title-wrap">
            <h3>Вступление</h3>
            <h4 class="lh">
                <a routerLink="/">Моя малая Родина:</a>
            </h4>
        </div>
        
        <div class="row" style="margin-top:20px;">
            <div class="col-3" style="padding: 0;margin-top: 17px;">
                <img src="assets/images/page-2_img03.jpg" alt=""/>
            </div>
            <div class="col-9 description" style="width:70%;" data-wow-delay="0.2s">
                <p>Родина — это земля, на которой мы родились, земля нашей семьи, наших предков; то место, которое даёт нам силы, дарит уверенность в себе, окружает любовью и лаской. У каждого человека есть очень близкое и родное место, где он чувствует себя спокойно и непринужденно. На земле нет такого человека, который бы не испытывал любовь к малой Родине, так как у каждого должен быть свой причал, где можно на время остановится и отдохнуть от забот и проблем.</p>
            </div>
        </div>
    </div>
</section>