<section class="popular" style="padding-bottom:10px!important;">
    <div class="container">
        <div class="title-wrap">
            <h4>Самые популярные места</h4>
        </div>
        <div class="row row__md1">
            <div class="col-12">
                <div class="row">
                    <div class="col-3">
                        <a routerLink="/catalog/lida/kafe-yukon" class="thumb">
                            <img src="assets/images/lida/kafe-yukon.jpeg"  style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay"><p>Юкон</p></span>
                        </a>
                    </div>
                    <div class="col-3">
                        <a routerLink="/catalog/lida/zamok" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/lida/lida.jpg" style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">Замок гедмина</span>
                        </a>
                    </div>
                    <div class="col-3">
                        <a routerLink="/catalog/lida/lidapoezd" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/lida/p.jpg" 
                             style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">Памятник поезд</span>
                        </a>
                    </div>
                    
                    <div class="col-3">
                        <a routerLink="/catalog/lida/club-mayak" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/lida/club-mayak.jpeg" 
                             style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">МАЯК</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <a routerLink="/catalog/tarnovo/ysad" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/tarnovo/t.jpg"
                            style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">Усадьба</span>
                        </a>
                    </div>
                    <div class="col-3">
                        <a routerLink="/catalog/belogrudo/b" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/belogrudo/b.jpg"
                             style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">Костел</span>
                        </a>
                    </div>
                    <div class="col-3">
                        <a routerLink="/catalog/lida/chehov-bar" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/lida/chehov-bar.jpg" style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">Бар - Чеховъ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>