<section class="bg01 well-1">
    <div class="container">
        <div class="title-wrap wow fadeInUp" data-wow-delay="0.2s">
            <!-- <h4>Weeonsequat vel il</h4> -->

            <h2>Самые популярные места</h2>
        </div>
        <div class="row row__md1">
            <div class="col-6 wow fadeInLeft" data-wow-delay="0.2s"><!-- grid_6  -->
                <div class="box info-wrap">
                    <img src="assets/images/lida/lida.jpg" width="300" height="480" class="box_aside" alt=""/>
                    <div class="box_cnt__no-flow">
                        <h3>Лидский Замок</h3>
                        <h4>ЛИДА, УЛ. ЗАМКОВАЯ</h4>
                        <p class="offset-1"></p>
                        <a routerLink="/catalog/lida/zamok" class="btn-info">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-6"><!-- grid_6  -->
                <div class="row">
                    <!-- <div class="grid_2 wow fadeInRight" data-wow-delay="0.1s">
                        <a href="assets/images/page-1_img12-thumb.jpg" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/page-1_img12.jpg" class="img-wrap" alt=""/>
                            <span class="thumb_overlay"></span>
                        </a>
                    </div> -->
                    <div class="col-4 fadeInRight" data-wow-delay="0.1s">
                        <a routerLink="/catalog/grodno/skarbonka" class="thumb">
                            <img src="assets/images/grodno/skarbonka/m.jpg"  style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay"><p>Музей "Скарбонка"</p></span>
                        </a>
                    </div>
                    <div class="col-4 fadeInRight" data-wow-delay="0.2s">
                        <a routerLink="/catalog/lida/zamok" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/lida/lida.jpg" style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <!-- style="width: 148px; height: 206px!important;" -->
                            <span class="thumb_overlay">Замок гедмина</span>
                        </a>
                    </div>
                    <div class="col-4 fadeInRight" data-wow-delay="0.3s">
                        <a routerLink="/catalog/lida/lidapoezd" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/lida/p.jpg" 
                             style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">Памятник поезд</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 grid_2__offset fadeInRight" data-wow-delay="0.1s">
                        <a routerLink="/catalog/tarnovo/ysad" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/tarnovo/t.jpg"
                            style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">Усадьба</span>
                        </a>
                    </div>
                    <div class="col-4 grid_2__offset fadeInRight" data-wow-delay="0.2s">
                        <a routerLink="/catalog/belogrudo/b" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/belogrudo/b.jpg"
                             style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">Костел</span>
                        </a>
                    </div>
                    <div class="col-4 grid_2__offset fadeInRight" data-wow-delay="0.3s">
                        <a routerLink="/catalog/lida/chehov-bar" class="thumb" data-fancybox-group="fancybox-thumb">
                            <img src="assets/images/lida/chehov-bar.jpg" style="width: 170px; height: 120px!important;" class="img-wrap" alt=""/>
                            <span class="thumb_overlay">Бар - Чеховъ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>