<section class="bg01 well-1 well-1__off4">
  <div class="container">
    <div class="title-wrap">
      <!-- <h4>Что-то можно написать)</h4> -->

      <h2>Этнографический музей "Скарбонка" СШ №3 имени В.М.Усова</h2>
    </div>
    <div class="row row__offset-1">
      <div class="grid_10 preffix_1">
        <div class="">
          <img src="assets/images/grodno/skarbonka/sk.jpg" class="mt first" alt="" />
        </div>

        <!-- <h4 class="lh align">1947 г.</h4> -->
        <div class="info-wrap-1 offset wow fadeInRight" data-wow-delay="0.2s">
          <div class="box">
            <div class="box_aside" style="width: 100%;">
              <!-- <iframe [src]='safeURL' style="width: 100%;" class="video-wrap mt" frameborder="0" allowfullscreen></iframe> -->
              <iframe
                width="100%"
                height="315"
                src="https://www.youtube.com/embed/ovbEWn3LK9k"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <p>
          <a href="assets/scarbonka.pdf" class="pdf" target="_blank"
            >Презентация</a
          >
        </p>
        <p>
          Каждый народ имеет собственную историю и культурное наследие. Оно
          отражает многовековой опыт, духовное развитие и творчество многих
          поколений народа. Сохранение и передача опыта, накопленного
          предыдущими поколениями, является первоочередной задачей для развития
          государства. Республика Беларусь обладает богатым культурным
          наследием. Оно включает в себя фольклор, народные промыслы, обычаи,
          обряды, празднества, старинные технологии, религиозные ритуалы и
          традиции. Поэтому одной из первоочередных задач этнографических музеев
          является сохранение исторической памяти, которая дает возможность
          воспитанию и обучению подрастающего поколения, воспитание любви и
          интереса к родной земле, своей Родине, ее прошлому.
        </p>
        <p>
          Актуальность данного исследования обусловлено интересом знать не
          только о тради¬циях и обычаях своего народа, но и культурном наследии
          в повседневной жизни. Предметом исследования являются экспонаты
          школьного этнографического музея «Скарбонка». Объект исследования –
          семья Жамойды-Ханевич, проживающая в деревне Бершты, Гродненской
          области. В работе использовались следующие методы исследования:
          количественный метод, анализ, метод систематизации и метод
          интерпретации текста. Практическая значимость исследования заключается
          в возможности использовать материалы исследования на уроках истории по
          темам «Повседневная жизнь людей», экскурсионной деятельности,
          факультативных занятиях по краеведению. Перспективы деятельности:
          творческой группой учащихся и советом музея «Скарбонка» СШ №3 имени
          В.М.Усова будет разработан план по сохранению культурного наследия
          семьи Ханевич для дальнейшего развития этнографического музея.
        </p>
        <p>
          Трэба ведаць – сэрца просіць, Як дзядам, бацькам жылося… Як сахой
          даўней аралі, Як смыком зямлю бярлялі, Як з сявалкі збожжа зерні
          Рассявалі чорнай жменяй… Трэба ведаць…Што зазналі, Як на пана
          працавалі… Трэба ведаць…І пра тое, Апраналі што? Якое?... Пятрусь
          Броўка
        </p>
        <p>
          В последние года благодаря национальному возрождению культуры
          возникает интерес к своему прошлому, истории, народным традициям,
          обрядам, обычаям. Обычаи и обряды – это яркая и самобытная часть
          духовной культуры белорусского народа. Они формировались на протяжении
          долгого периода времени и представляют собой систему, в которой нашли
          отражение быт, народная культура, религия. Особое место занимает
          традиционные родственные обычаи семьи, которые дают возможность понять
          уклад жизни белорусов. Семья, дом, труд, родина – это главные
          ценности, которые передавались из поколения в поколение[1]. Поэтому в
          год малой родины мы изучили традиционную белорусскую семью -
          Жамойды-Ханевич, где связь родственников – сельских и городских
          жителей взаимосвязана общими народными традициями. Главным источником
          анализа послужили материалы из школьного музея «Скарбонка», основу
          которого составляют вещи этой семьи.
        </p>
        <p>
          С именем человека связана его дальнейшая судьба, сила, счастье, удача.
          Имя хозяина экспонатов школьного музея Сергей. Человек коммуникабелен
          и открыт для всех. Он способен глубоко мыслить, придумывать различные
          проекты, идеи, люди идут за ним, доверяя ему, в имени заложена забота
          о своих родных и близких, великолепное знание своего дела помогать
          людям, воплощать свои трудовые навыки в жизни. В 18 лет Жамойда Сергей
          Константинович был призван на фронт. С 1944-1945 – стрелок,
          пулеметчик. В мирное время – столяр, плотник[2].
        </p>
        <p>
          За каждым предметом его труда стоит мастерство, профессионализм,
          самобытность народа и земли, где он родился. Деревня Бершты
          расположена в Гродненской области Щучинского района. Одна из главных
          достопримечательностей деревни - Православная церковь Параскевы
          Пятницы, памятник деревянного зодчества, 1816 год[3].
        </p>
        <p>
          В семье Сергея Константиновича было 4 детей. Все в доме он делал
          своими руками: ткацкий станок - «кросны», лавки, столы, шкафы.
          Экспозицию школьного этнографического музея «Хата мая хатинка»
          составляют предметы домашнего обихода, предоставленные дочерью Ханевич
          Надеждой Сергеевной. Самый старый экспонат музея – кузовок, сделанный
          руками талантливого мастера, в котором выросло не одно поколение
          детей. Лёгкая зыбка (кузовок), сплетённая из сосновых дранок,
          подвешивалась на черёмуховых дужках к очепуи имела подножку для
          качания. Очеп — это гибкая жердь, прикреплённая к потолочной матице.
          На хорошем очепе зыбка колебалась довольно сильно, иногда на сажень от
          пола. Может быть, такое качание от самого дня рождения с последующим
          качанием на качелях и вырабатывало особую закалку: моряки, выходцы из
          крестьян, весьма редко были подвержены морской болезни. Современные
          колыбели чаще всего делают из лозы, древесины и даже из пластмассы.
          Большое значение в доме имели маслобойка, сито, циркуль, рубанок,
          пральник. Эти предметы домашнего обихода имели все жители соседних
          деревень, потому что они были сделаны руками Сергея Константиновича.
          Маслобо́йка (па́хталка— от «пахта») — приспособление для изготовления
          сливочного масла из слегка скисшего молока, сливок или cметаны, путём
          сбивания — механического воздействия на обрабатываемый продукт.
          Сбивание масла маслобойками было женским делом.
        </p>
        <p>
          Си́то — инструмент для разделения сыпучих масс (зёрен, круп, песка и т.
          п.) по величине их частиц. Небольшие ручные сита используют в быту.
          Циркуль использовался для измерения максимального диаметра, нанесения
          орнамента из мелких правильных кружочков. Рубанок — достаточно древнее
          изобретение человека, применяться он начал только в XV—XVI веках.
          Первые рубанки имели деревянную колодку, а лезвие фиксировалось
          деревянным клином. В настоящее время в промышленности применяются
          электрорубанки, выполняющие ту же функцию, поскольку ручные рубанки не
          в состоянии обеспечить необходимую производительность. 10 февраля
          можно считать именинами утюга, ведь именно этим днем 1636 года
          датируется первое упоминание об этой хозяйственной принадлежности в
          официальных документах. В зависимости от местности, диалекта его также
          называли пральником, ребраком, гранчаком. Процесс глажки был
          достаточно примитивным, чрезвычайно трудоемким и требовал немало силы
          и сноровки. В основном таким способом гладили в деревнях, так как
          одежду там делали из прочных, но очень жёстких, вручную сделанных
          тканей, поэтому было необходимо не столько сделать одежду опрятной на
          вид, сколько максимально размягчить весьма грубую, часто натиравшую
          кожу ткань. Мастер ремесленных дел славился изготовлением колодок.
          Несколько пар находятся в музее «Скарбонка». Большинство сапожников
          используют колодки, сделанные из дерева. Некоторые колодки являются
          прямыми, в то время как другие различаются — одна для левой ноги,
          другая — для правой. Профессия сапожника породила множество явлений
          современной культуры, например, поговорку «Сапожник без сапог»
          (описывающую ситуацию, когда профессионал в какой-то области напрасно
          не пользуется собственным умением в личных целях). Сапожниками также
          называют мастеров по ремонту обуви. Сундук (куфар, скрыня). Образ
          сундука в народе больше всего ассоциируется со свадебной обрядностью,
          так как в нем хранилось приданое и иные ценности. Мать, а затем и дочь
          собирали в него приданое. Сундук сделанный руками Сергея
          Константиновича, привезенный из деревни Бершты, был передан на
          хранение в школьный музей. Как инструмент для прядения прялки
          появились сравнительно недавно – порядка 700 лет назад и немедленно
          начали оттеснять веретёна. Разновидностей прялок существует довольно
          много, нередко даже в различных регионах прялки имели свои, присущие
          только им особенности. В сущности, прялка – это механический способ
          прядения нити, полностью освобождающий руки (нет нужды контролировать
          веретено, например) и значительно ускоряющий процесс. Грабилка
          использовалась для быстрого сбора ягод (брусники, черники)[4, с.163,
          237, 257, 440, 452]. Не только Сергей Константинович, но и я вся его
          большая семья славилась умением в ремесле. Одним из распространенных
          видов ремесел - ткачество. Ткачеством занималась вся семья Сергея
          Константиновича – жена Лидия Антоновна, тетя Софья Антоновна, дети[2].
        </p>
        <p>
          Умение ткать было обязатель¬ным для каждой крестьянки, и не зря
          основную часть прида¬ного девушки, выходившей замуж, должны были
          составлять тканые изделия: одежда, постель, рушники, скатерти. С
          тка-чеством связано много старинных народных обрядов и обычаев, очень
          часто оно упоминается в белорусских народных песнях. Особой гордостью
          для каждой семьи был вышитый руками рушник. Рушник использовался не
          только для бытовых и хозяйственных нужд, он был связан с значимыми
          событиями в семье: на рушнике принимали новорожденного, подносили
          хлеб-соль, опускали гроб в могилу, рушниками украшали красный угол в
          хате. Важную роль выполняли рушники в свадебных обрядах. Во многих
          местностях Беларуси издавна существовал обычай одари¬вать рушниками
          участников свадьбы, и по качеству работы судили о мастерстве
          невесты[4, с.234, 436].
        </p>
        <p>Трэба ведаць – сэрца просіць, Як дзядам, бацькам жылося… П.Броўка</p>
        <p>
          Школьный этнографический музей «Скарбонка» открылся благодаря
          творческому потенциалу и деятельности талантливого мастера народного
          творчества Ханевич Надежде Сергеевне. По образованию она учитель
          белорусского языка и литературы. Работала в школе, детском саду,
          детском доме. С детства любила вышивать, помогала маме и тете ткать,
          освоила технику изготовления народных кукол, оберегов. Работая в
          детском доме, она вместе с воспитанниками начала собирать те предметы
          народного творчества, которые стали основой школьного музея. Домово́й
          (кутный бог) — у славянских народов домашний дух, мифологический
          хозяин и покровитель дома, обеспечивающий нормальную жизнь семьи,
          плодородие, здоровье людей, животных. Русская тряпичная кукла родом из
          семьи народных игрушек, история которой уходит своими корнями в
          глубокую древность. Куклы сопровождали человека с его первых шагов по
          земле. Дерево, глина, солома, ткань и другие доступные материалы в
          руках мастера становились игрушками для детей и обрядовыми фигурами
          для взрослых.
        </p>
        <p>
          Куклы появлялись с рождением ребенка, чтобы оберегать его от бед и
          болезни, были его первыми друзьями и утешителями. Без участия кукол не
          обходился ни один праздник или событие деревенской жизни, будь то
          свадьба или сбор урожая, проводы зимы или пасха[4, с.166, 520 ].
        </p>
        <p>
          Для Надежды Сергеевны народное творчество является потомственным. Она
          унаследовала технологию и мастерство создания национальных предметов
          от своего отца. Организованный ею этнографический кружок «Скарбонка»
          стал основой музея «Скарбонка». Вышитые ею рушники, рубашки,
          изготовленные куклы, обереги стали экспонатами музея. Она была
          награждена двумя дипломами республиканского фестиваля «Вясёлкавы
          карагод» за преемственность белорусских традиций в современности.
        </p>
        <p>
          Любовь человека к Родине начинается с детства. Это любовь к матери и
          отцу, дедушке и бабушке, к родному языку, культуре и истории. Любовь к
          Родине – это любовь к своей земле, своему народу. И для того, что бы
          любить свою Родину, нужно знать её прошлое. Без прошлого нет будущего.
          Поэтому одним из главных условий возрождения национальной культуры
          является сохранение традиций, обрядов, песен, ремёсел нашего народа.
          Сохраняя и приумножая наши культурные ценности, мы сохраняем память
          поколений. Семья – это мир, благополучие, культурный дар малой и
          большой Родины. Всё хорошее, что заложено в детстве – останется с
          каждым человеком на всю жизнь.
        </p>
        <p>
          Наш этнографический музей «Скарбонка» в начале долгого, плодотворного,
          бесценного пути к формированию будущих поколений.
        </p>

        <!-- <a class="mail mail-off" href="mailto:#"><strong>privacy@demolink.org</strong></a> -->
      </div>
    </div>
  </div>
</section>
