<section class="bg01  well-1 well-1__off2">
    <div class="container">
        <div class="title-wrap wow fadeInUp" data-wow-delay="0.2s">
            <h4>In faucibus orciluc</h4>

            <h2>Using the Library</h2>
        </div>
        <div class="row row__md wow fadeInDown" data-wow-delay="0.2s">
            <div class="grid_2 align">
                <img src="assets/images/page-4_img01.png" alt=""/>
            </div>
            <div class="grid_4">
                <h4>
                    <a href="#">Getting Oriented</a>
                </h4>
                <p class="offset">Egestas eget elementum sed; rutrum eget metus! Vestibulum congue congue dui ut
                                  porta.</p>
            </div>
            <div class="grid_2 align">
                <img src="assets/images/page-4_img02.png" alt=""/>
            </div>
            <div class="grid_4">
                <h4>
                    <a href="#">Borrowing Materials</a>
                </h4>
                <p class="offset">Rutrum eget metus! Vestibulum congue dui ut porta. Aenean laoreet viverra
                                  turpis, a commodo purus. </p>
            </div>
        </div>

        <div class="row row__offset wow fadeInDown" data-wow-delay="0.2s">
            <div class="grid_2 align">
                <img src="assets/images/page-4_img03.png" alt=""/>
            </div>
            <div class="grid_4">
                <h4>
                    <a href="#">Visiting the Library</a>
                </h4>
                <p class="offset">Aenean laoreet viverra turpis, a commodo purus eleifend a. Nam lacus dui;
                                  egestas ut aliquam nec.</p>
            </div>
            <div class="grid_2 align">
                <img src="assets/images/page-4_img04.png" alt=""/>
            </div>
            <div class="grid_4">
                <h4>
                    <a href="#">Get a Library Card</a>
                </h4>
                <p class="offset">Vestibulum congue dui ut porta. Aenean laoreet viverra turpis, a commodo purus
                                  eleifend a.</p>
            </div>
        </div>
        <div class="row row__offset wow fadeInDown" data-wow-delay="0.2s">
            <div class="grid_2 align">
                <img src="assets/images/page-4_img05.png" alt=""/>
            </div>
            <div class="grid_4">
                <h4>
                    <a href="#">Finding Things</a>
                </h4>
                <p class="offset">Nam lacus dui; egestas ut aliquam nec, eleifend sit amet est. Nam justo elit,
                                  dictum id tempus a.</p>
            </div>
            <div class="grid_2 align">
                <img src="assets/images/page-4_img06.png" alt=""/>
            </div>
            <div class="grid_4">
                <h4>
                    <a href="#">Using the Site</a>
                </h4>
                <p class="offset">Eleifend sit amet est. Nam justo elit, dictum id tempus a, ultricies tempus
                                  lacus nunc purus.</p>
            </div>
        </div>

        <div class="row row__offset wow fadeInDown" data-wow-delay="0.2s">
            <div class="grid_2 align">
                <img src="assets/images/page-4_img07.png" alt=""/>
            </div>
            <div class="grid_4">
                <h4>
                    <a href="#">Computers Access</a>
                </h4>
                <p class="offset">Vivamus eu enim a orci accumsan tincidunt ut ut elit. Vestibulum nisi orci,
                                  rutrum ac auctor non.</p>
            </div>
        </div>
    </div>
</section>