<section class="well-1 well-1__off2">
    <div class="container">
        <div class="title-wrap wow fadeInUp" data-wow-delay="0.2s">
            <h4>Lorem ipsum dolor</h4>

            <h2>services</h2>
        </div>
        <div class="row row__md">
            <div class="grid_4">
                <h4>Ask a Librarian</h4>

                <p class="offset-2">Have a question for us? There are a variety of ways you can get
                                    assistance.</p>
            </div>
            <div class="grid_4">
                <h4>Education</h4>

                <p class="offset-2">The Library is committed to providing resources and services to our
                                    community’s life-long
                                    learners.</p>
            </div>
            <div class="grid_4">
                <h4>Career Online High School</h4>

                <p class="offset-2">The Library offers adults the opportunity to earn accredited high school
                                    diplomas and career
                                    certificates through Career Online High School.</p>
            </div>
        </div>

        <div class="row row__offset">
            <div class="grid_4">
                <h4>Online Learning Center</h4>

                <p class="offset">From homework assistance to professional development to personal enrichment,
                                  the Library's
                                  collection of online resources and services offers a wide variety of resources
                                  to support the
                                  lifelong learning needs of our customers.</p>
            </div>
            <div class="grid_4">
                <h4>Storytime at the Library</h4>

                <p class="offset-2">Raise your child to be a reader by bringing them to storytime at the
                                    Library!</p>
            </div>
            <div class="grid_4">
                <h4>Meeting Rooms</h4>

                <p class="offset-2">Learn more about reserving one of our agency meeting rooms.</p>
            </div>
        </div>

        <div class="row row__offset">
            <div class="grid_4">
                <h4>Passports</h4>

                <p class="offset-2">Apply for a passport at the Library.</p>
            </div>
            <div class="grid_4">
                <h4>Grants Resource Center</h4>

                <p class="offset-2">Resources and programs to help non-profit organizations identify and pursue
                                    funding opportunities.</p>
            </div>
            <div class="grid_4">
                <h4>Services for the Blind and Physically Disabled</h4>

                <p class="offset-2">Local and state resources are available.</p>
            </div>
        </div>

        <div class="row row__offset">
            <div class="grid_4">
                <h4>PC Reservation</h4>

                <p class="offset-2">Use our online form to reserve a computer in the Main Library or one of our
                                    branches.</p>
            </div>
            <div class="grid_4">
                <h4>Tax Assistance</h4>

                <p class="offset-2">Resources and services that can help answer tax-related questions.</p>
            </div>
            <div class="grid_4">
                <h4>Interlibrary Loan</h4>

                <p class="offset-2">Information about borrowing material from other libraries.</p>
            </div>
        </div>

        <div class="row row__offset">
            <div class="grid_4">
                <h4>Wi-Fi</h4>

                <p class="offset-2">Free Wi-Fi is available at all our branches and the Main Library.
                </p>
            </div>
            <div class="grid_4">
                <h4>Voting Information</h4>

                <p class="offset-2">Voter registration forms and Vote by Mail applications are available
                                    year-round at all branch libraries and the Main Library Circulation Services
                                    Department.</p>
            </div>
            <div class="grid_4">
                <h4>Special Needs</h4>

                <p class="offset-2">Programs, materials, and services for people with disabilities and those
                                    unable to take advantage of traditional library services.
                </p>
            </div>
        </div>
    </div>
</section>