<section class="bg01 well-1 well-1__off4">
  <div class="container">
    <div class="title-wrap">
      <h2>Костел</h2>
    </div>
    <div class="row row__offset-1">
      <div class="grid_10 preffix_1">
        <img src="assets/images/belogrudo/B4.jpg" class="mt first" alt="" />

        <p></p>
        <p>
          Белогруда - это деревня Лидского района, Гродненской области Беларуси.
          Основной достопримечательностью деревни Белогруда является костел
          Святого Михаила Архангела, который был построен из кирпича в 1905 году
          на месте, где ранее располагался предыдущий деревянный храм начала
          17-го века. Территория вокруг костела в деревне Белогруда обнесена
          оградой из натурального камня. В архитектуре храма нашли отражение
          сразу несколько стилей: неоготический, неороманский и модерн.
        </p>
        <p>
          Костел в деревне Белогруда расположен на возвышенности. Его башни
          видны издалека, даже из нескольких соседних деревень. Костел имеет
          внушительные размеры и примечательный внешний вид. Костел в деревне
          Белогруда является архитектурным памятником начала 20-го века,
          историко-культурной ценностью и важной достопримечательностью
          Беларуси. Деревня Белогруда расположена недалеко от трассы
          Минск-Гродно, поэтому туристам и путешественникам, которые не очень
          спешат можно легко заехать в эту деревню и ознакомится с её
          достопримечательностью. задержались в хозяевах – они активно
          участвовали в восстаниях, и в 1866 году обширные земли ушли роду
          Мавросов.
        </p>
        <img src="assets/images/belogrudo/b1.jpg" class="mt first" alt="" />
        <p></p>
        <img src="assets/images/belogrudo/B3.jpg" class="mt first" alt="" />
        <p></p>
        <!-- <img src="assets/images/belogrudo/B4.jpg" class="mt" alt="" /> -->

        <p>
          Под современным именем Белогруда впервые упоминается в XVI веке, как
          имение в Лидском повете. В XVI—XVII веках она принадлежала роду
          Завишей, в частности в конце XVI-начале XVII веков Белогруда была
          родовым имением воеводы мстиславского и витебского Яна Завиши и его
          сына Николая Завиши, витебского каштеляна[3].
        </p>
        <p>
          В 1609 году здесь был образован католический приход[4], в то же время
          на средства Яна Завиши здесь был построен деревянный костёл[3].
        </p>
        
        <!-- <img src="assets/images/belogrudo/b.jpg" class="mt first" style="float:right;margin:10px;" alt="" /> -->
        <p></p>
        <p>
          В начале XVIII века владелица Белогруды Анна Завиша вышла замуж за
          смоленского каштеляна Кшиштофа Щита. В этот период старый костёл был
          перестроен и получил имя св. Иоанна Крестителя. Начиная с 1783 года
          этот храм упоминается в источниках под именем св. Михаила
          Архангела[3].
        </p>
        <p>
          В середине XVIII века Белогруду получили Радзивиллы — в результате
          брака Барбары Завиши с Николаем Фаустином Радзивиллом, мечником
          литовским и воеводой новогрудским. Следующими владельцами были
          Станислав Радзивилл (1722—1787) и его сын Николай (1751—1811). В
          середине XVIII века Каролина Радзивилл (жена Станислава) основала в
          Белогруде госпиталь[3].
        </p>
        <p>
          В результате третьего раздела Речи Посполитой (1795) Белогруда
          оказалось в составе Российской империи, где стала деревней в составе
          Тарновской волости Лидского уезда. В XVIII веке имение несколько раз
          переходило из рук в руки; в 1905 году на месте старого деревянного
          построен новый католический храм св. Михаила Архангела в неоготическом
          стиле[5].
        </p>
        <p>
          Согласно Рижскому мирному договору (1921) Белогруда оказалась в
          составе межвоенной Польской Республики, где вошла в состав Тарновской
          гмины Лидского повета Новогрудского воеводства. Согласно переписи
          населения 1921 года насчитывала 10 жилых построек, 69 жителей. Рядом с
          деревней находился хутор Белогруда — 4 жилые постройки, 31 житель[3].
        </p>
        <p>
          В 1939 году Белогруда вошла в БССР, где в период 1954—1974 годов была
          центром сельсовета Лидского района, с 1974 года в составе Тарновского
          сельсовета. В 1970 году в деревне было 18 дворов, 77 жителей, в 1996 —
          36 дворов, 80 жителей[3].
        </p>
      </div>
    </div>
  </div>
</section>
