<div class="bg_wrap bg_wrap__mod">
  <div id="stuck_container" class="stuck_container">
    <div class="container row" style="margin-right: auto!important;margin-left: auto!important;min-height: 200px;">
      <nav class="nav col-6 black">
        <div class="home">
          <ul class="sf-menu home" style="width:100%;">
            <li class="lida">
              <a routerLink="/catalog/lida">Лида</a>
              <ul>
                <li>
                  <a routerLink="/catalog/lida/zamok">- Замок Гедимина в романском готическом стиле</a>
                </li>
                <li><a routerLink="/catalog/lida/lidapoezd">- Памятник воинам железнодорожникам</a></li>
              </ul>
            </li>
            <li class="tarnovo">
              <a routerLink="/catalog/tarnovo">Тарново</a>
              <ul class="tarnovo">
                <li><a routerLink="/catalog/tarnovo/ysad">- Тарновская усадьба</a></li>
              </ul>
            </li>
            <li class="tarnovo">
              <a routerLink="/catalog/grodno/skarbonka">Этнографический музей "Скарбонка"</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-6"><app-map-home></app-map-home></div>
    </div>
  </div>
</div>
