<section class="bg01 well-1 well-1__off4">
  <div class="container">
    <div class="title-wrap">
      <h2>Маяк</h2>
    </div>
    <div class="row row__offset-1">
      <div class="grid_10 preffix_1">
        <img src="assets/images/lida/yukon/1.jpg" class="mt first" alt="" />

        <p></p>
        <p>
          Работает кафе на иностранном предприятии «БЕЛТЕКС ОПТИК». Отсюда и название заведения: «Юкон» – бренд, под которым производится вся продукция компании. Предприятие ставило целью сделать современное европейское кафе с акцентом на хороший вкус и атмосферу.
        </p>
        <img src="assets/images/lida/yukon/2.jpg" class="mt first" alt="" />
        <p></p>
        <img src="assets/images/lida/yukon/3.jpg" class="mt first" alt="" />
        <p></p>
        <h4>Интерьер</h4>
        <p>
          Интерьер заведения выдержан в стиле компании: преобладает темно-зеленый фирменный цвет предприятия. На стенах – фотографии с изображением перспектив, которые так близко можно увидеть только через оптические приборы фирмы. Но при этом оформление выделяется своей «изюминкой»: уютные диваны и столики, контактная барная стойка, интересные светильники, красивая сервировка…
        </p>
        <img src="assets/images/lida/yukon/4.jpg" class="mt first" alt="" />
        <p></p>
        <img src="assets/images/lida/yukon/5.jpg" class="mt first" alt="" />
        <p></p>
        <img src="assets/images/lida/yukon/6.jpg" class="mt first" alt="" />
        <p></p>
        <img src="assets/images/lida/yukon/7.jpg" class="mt first" alt="" />
        <p></p>
        <p>
          Достаточно простая и при этом довольно стильная обстановка не отвлекает от еды и общения – того, за чем люди и приходят в кафе. Приглушенный свет и ненавязчивая фоновая музыка добавляют уюта и душевности заведению. В кафе «Юкон» можно отлично провести время – как с коллегами за деловой беседой, так и со своей любимой семьей либо близкими друзьями. А в теплое время года работает еще и летняя терраса.
        </p>
        <img src="assets/images/lida/yukon/8.jpg" class="mt first" alt="" />
        <p></p>
        <h4>Кухня</h4>
        <p>
          В основе достаточно лаконичного меню нового кафе лежит классическая европейская кухня в авторской подаче. В качестве основных блюд тут готовят пасту с индейкой и шампиньонами, медальоны из говядины с перечным соусом, свиную шею с маринованными грибами, мясную лазанью… Если вы предпочитаете рыбу – обратите внимание на стейк из лосося или запеченную скумбрию с овощной сальсой. Не можете жить без супа? Эти блюда в кафе «Юкон» также удивят вас своим вкусом и оригинальностью. Что вы скажете, например, про крем-суп из брокколи с чипсами из бекона или куриный суп «Флорентин» со шпинатом? Дополняют меню различные салаты, легкие закуски, гарниры и изумительные десерты.
        </p>
        <img src="assets/images/lida/yukon/9.jpg" class="mt first" alt="" />
        <p></p>
        <img src="assets/images/lida/yukon/10.jpg" class="mt first" alt="" />
        <p></p>
        <img src="assets/images/lida/yukon/11.jpg" class="mt first" alt="" />
        <p></p>
        <img src="assets/images/lida/yukon/12.jpg" class="mt first" alt="" />
        <p></p>
        <p>
          Для юных посетителей кафе разработано отдельное детское меню, в которое вошли куриный суп с китайской лапшой, овощной салат, куриные наггетсы, мясные шарики с сыром, сладкие блинчики и многое другое.
        </p>
        <p>
          Винная карта заведения также заслуживает особого внимания. Здесь представлены напитки на любой вкус, цвет и градус. Посетители точно оценят их широкий выбор.
        </p>
        <h4>Родителям – отдых, детям – развлечения</h4>
        <p>
          Кафе «Юкон» – на сегодняшний день единственное заведение в городе, где организован досуг детей на время, пока взрослые общаются за столиком. Рядом с кафе для ребят от 3 до 12 лет организована детская комната. Игровые лабиринты, конструкторы, Play Station – эти и многие другие развлечения ожидают здесь юных посетителей. А чтобы родители не волновались за их безопасность, в детской комнате постоянно находится администратор.
        </p>
        <p></p>
        <img src="assets/images/lida/yukon/13.jpg" class="mt first" alt="" />
        <p></p>
        <img src="assets/images/lida/yukon/14.jpg" class="mt first" alt="" />
        <p></p>
        <p>
          На самом деле не так много заведений в нашем городе, где высокое качество блюд сочетается с душевным обслуживанием и уютным интерьером, но в кафе «Юкон» это получилось. Загляните сюда в гости, и ваш вечер запомнится надолго!
        </p>
      </div>
    </div>
  </div>
</section>
