<section class="bg01 well-1 well-1__off4">
  <div class="container">
    <div class="title-wrap">
      <h2>Маяк</h2>
    </div>
    <div class="row row__offset-1">
      <div class="grid_10 preffix_1">

          <img src="assets/images/lida/mayak/XXL.jpg" class="mt landmark-img" alt="" />
        <p>
            Для вас будут играть лучшие Ди-джеи нашего клуба:
        </p>
        <ul>
          <li>Dj Jenn</li>
          <li>Dj Pavlin</li>
          <li>Dj Alex Shah</li>
        </ul>
        <p>
            У микрофона - MC Demidov
        </p>
        
        <p>
            Дев. До 23.00 вход свободный, после 60., муж. До 23.00 50, после 80.
        </p>
        <p>
            У нас можно заказать столик на 6 человек. Его стоимость 500 тысяч рублей ( два шампанских или водка на выбор, фрукты и шоколад включены в стоимость)
        </p>
        <p>
            Дополнительная информация по тел. 80296464531
        </p>
        
      </div>
    </div>
  </div>
</section>
