<section class="bg01 well-1">
  <div class="container">
      <div class="title-wrap wow fadeInUp" data-wow-delay="0.2s">
          <!-- <h4>Чёт можно написать)</h4> -->

          <h2>Каталог Достопримечательностей Городов</h2>
      </div>
      <!-- <div class="align">
          <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
              <label class="search-form_label">
                  <input class="search-form_input" type="text" name="s" autocomplete="off"
                         placeholder="Search the Public Library Catalog"/>
                  <span class="search-form_liveout"></span>
              </label>
              <button class="search-form_submit fa-search" type="submit"></button>
          </form>


      </div> -->
      <div class="row row__offset wow fadeIn" data-wow-delay="0.4s">
          <div class="col-2">
        <img src="assets/images/lida/lida.jpg" class="mt" alt=""/>
          </div>
          <div class="col-4 description">
              <h4 class="lh">
                  <a routerLink="/catalog/lida/zamok">Замок Гедимина в романском готическом стиле</a>
              </h4>
              <p> 
              Год основания: 1330.</p>
              <!-- <a routerLink="/catalog/map" class="btn-wrap btn-wrap-1">На карте</a> -->
              <a routerLink="/catalog/lida/zamok" class="btn-wrap btn-wrap-2">Просмотреть</a>
          </div>
          <div class="col-2">
            <img src="assets/images/lida/p.jpg" class="mt" alt=""/>
        </div>
        <div class="col-4 description">
            <h4 class="lh">
                <a routerLink="/catalog/lida/lidapoezd">Памятник воинам железнодорожникам</a>
            </h4>
            <p> Год основания: 1568г.</p>
          
            <!-- <a routerLink="/catalog/map" class="btn-wrap btn-wrap-1">На карте</a> -->
            <a routerLink="/catalog/lida/lidapoezd" class="btn-wrap btn-wrap-2">Просмотреть</a>
        </div>
      </div>

      <!-- <div class="row row__offset wow fadeIn" data-wow-delay="0.4s"> -->
        <!-- <div class="col-2">
            <img src="assets/images/grodno/2-kirha.jpg" class="mt" alt=""/>
        </div>
        <div class="col-4 description">
            <h4 class="lh">
                <a routerLink="/catalog/grodno">Кирха</a>
            </h4>
            <p class="offset-3">Описание</p>
            <p>Влазит много людей</p>
            <p>много ему лет</p>
            <a routerLink="/catalog/map" class="btn-wrap btn-wrap-1">На карте</a>
            <a routerLink="/catalog/grodno" class="btn-wrap btn-wrap-2">Просмотреть</a>
        </div> -->
        <!-- <div class="col-2">
            <img src="assets/images/grodno/skarbonka/m.jpg" class="mt" alt=""/>
        </div>
        <div class="col-4 description">
            <h4 class="lh">
                <a routerLink="/catalog/grodno/skarbonka">Этнографический музей "Скарбонка"</a>
            </h4>
            <p class="offset-3">
            Год основания: 2017г.</p>
            <p>Время работы: 7:00-17:00</p>
            <a routerLink="/catalog/map" class="btn-wrap btn-wrap-1">На карте</a>
            <a routerLink="/catalog/grodno/skarbonka" class="btn-wrap btn-wrap-2">Просмотреть</a>
        </div> -->

          <!-- <div class="col-2">
              <img src="assets/images/grodno/4-new-castl.jpg" class="mt" alt=""/>
          </div>
          <div class="col-4 description">
              <h4 class="lh">
                  <a routerLink="/catalog/grodno">Новый замок</a>
              </h4>
              <p class="offset-3">Описание</p>
              <p>Влазит много людей</p>
              <p>много ему лет</p>
              <a routerLink="/catalog/map" class="btn-wrap btn-wrap-1">На карте</a>
              <a routerLink="/catalog/grodno" class="btn-wrap btn-wrap-2">Просмотреть</a>
          </div> -->
      <!-- </div> -->

      <!-- <div class="row row__offset wow fadeIn" data-wow-delay="0.4s">
          <div class="col-2">
              <img src="assets/images/grodno/5-sobor.jpeg" class="mt" alt=""/>
          </div>
          <div class="col-4 description">
              <h4 class="lh">
                  <a routerLink="/catalog/grodno">Святой собор</a>
              </h4>
              <p class="offset-3">Описание</p>
              <p>Влазит много людей</p>
              <p>много ему лет</p>
              <a routerLink="/catalog/map" class="btn-wrap btn-wrap-1">На карте</a>
              <a routerLink="/catalog/grodno" class="btn-wrap btn-wrap-2">Просмотреть</a>
          </div>

          <div class="col-2">
              <img src="assets/images/grodno/6-sinogoga.jpg" class="mt" alt=""/>
          </div>
          <div class="col-4 description">
              <h4 class="lh">
                  <a routerLink="/catalog/grodno">Синогога</a>
              </h4>
              <p class="offset-3">Описание</p>
              <p>Влазит много людей</p>
              <p>много ему лет</p>
              <a routerLink="/catalog/map" class="btn-wrap btn-wrap-1">На карте</a>
              <a routerLink="/catalog/grodno" class="btn-wrap btn-wrap-2">Просмотреть</a>
          </div>
      </div>

      <div class="row row__offset wow fadeIn" data-wow-delay="0.4s">
          <div class="col-2">
              <img src="assets/images/grodno/7-fanarnyi.jpg" class="mt" alt=""/>
          </div>
          <div class="col-4 description">
              <h4 class="lh">
                  <a routerLink="/catalog/grodno">Фанарный</a>
              </h4>
              <p class="offset-3">Описание</p>
              <p>Влазит много людей</p>
              <p>много ему лет</p>
              <a routerLink="/catalog/map" class="btn-wrap btn-wrap-1">На карте</a>
              <a routerLink="/catalog/grodno" class="btn-wrap btn-wrap-2">Просмотреть</a>
          </div>
      </div> -->
  </div>
</section>

