<section class="bg01 well-1 well-1__off4">
  <div class="container">
    <div class="title-wrap">
      <!-- <h4>Что-то можно написать)</h4> -->

      <h2>Замок Гедмина в романтском готическом стиле</h2>
    </div>
    <div class="row row__offset-1">
      <div class="grid_10 preffix_1">
        <img src="assets/images/lida/za.jpg" class="mt first" alt="" />
        <p></p>
        <p>
          Замок Гедимина в романском готическом стиле в городе Лида был построен
          в 1330-е годы чтобы защищать от крестоносцев. Лидский замок окутан
          романтическими легендами средневековых сражений и браков, он
          заманивает туристов театрализованными действами и рыцарскими
          турнирами, предоставляет возможность ознакомиться с историей древней
          Беларуси и почувствовать истинный Отдых в Беларуси.
        </p>
        <p>
          Князь Гедимин в 1323 г. отдал приказ заложить в Лиде каменный замок
          для того, чтобы прикрыть рыцарям дорогу в центр земель Великого
          княжества Литовского. Новый боевой форпост принеманских земель
          строился примерно пять лет. Зодчие Лидского замка, исходя из местных
          обычаев строительства, возвели мощное сооружение, которое можно было
          использовать в качестве надежной защиты. За столетия своей жизни Лида
          и ее замок не раз отбивались от приступов врага – поэтому тут
          впечатляющая атмосфера Лидского замка для туристов, идеально
          подходящий для реконструкции средневековых битв и развития туризма и
          отдыха в Беларуси. Замок осаждали в смутное время распрей удельных
          князей за престол отряды английских, немецких, французских рыцарей. 5
          августа 1406 г. у стен Лиды появились отряды смоленского князя,
          пришедшего выручить из плена свою семью, которую на год раньше полонил
          Витовт во время захвата Смоленска. После нескольких бесполезных
          штурмов смоляне освободили город от осады.
        </p>
        <p>
          После долгой военной затишки в 1506 г. под стенами появились Крымские
          татары, но штурмовать замок они так и не решились.
        </p>
        <p>
          Во время русско-польской войны был сильно поврежден во время осады. Он
          был полностью разрушен в 1702г. во время подрыва одной из его башен.
          Началось время запустения и разрушения старого укрепления, которое
          последний раз использовалось по назначению в 1794 г. Лидский замок
          зачастую был укромным пристанищем для средневековых князей и их
          политических союзников. Легендарным событием в истории замка было
          бракосочетание престарелого 71-летнего Ягайло с 17-летней Софией
          Гольшанской, праздновавшееся здесь в 1422 году. Софья родила ему 3
          сыновей. Рождение последнего сына было настоящим скандалом, так как
          пошли слухи, что ребенок не от Ягайла. Но София поклялась в своей
          невиновности. После того, как сыновья выросли, все убедились, что они
          очень похожи на Ягайлу… А сцена со свадьбой короля Ягайло и Софьи
          Гольшанской стала самым популярным театрализованным представлением в
          Лидском замке. В конце 19 века местный народ начал ломать стены замка
          и продавать камень и кирпич. Но вскоре этот вандализм был. В 1920-е
          гг. замок был чуть подновлен реставраторами из Польши. Летом в замке
          часто останавливались странствующие цирки и зверинцы, а зимой во дворе
          устанавливали ёлку и заливали каток. Летом 1929 года замок изучал
          известный художник Язэп Дроздович и посвятил ему альбом зарисовок.
        </p>
        <p>
          Последние два десятилетия ведется реставрация, археологические
          исследования. В замке стали проводиться рыцарские фестивали и
          театрализованные представления, что способствует развитию направления
          «Туризм и отдых в Беларуси» и ежегодному привлечению иностранных
          туристов. Сегодня поездка в Лидский замок включается в большинство
          туристических программ, которые нацелены не только на обычный отдых в
          Беларуси, но и таких как «Экотуризм в Беларуси», «Отдых выходного дня
          в Беларуси» (или «Отдых в Беларуси на выходные»), «Активный отдых в
          Белоруссии», «Детский отдых в Белоруссии» и во многие другие
          программы, предполагающие туризм и отдых в Беларуси.
        </p>
        <!-- <a class="mail mail-off" href="mailto:#"><strong>privacy@demolink.org</strong></a> -->
      </div>
    </div>
  </div>
</section>
