<section class="bg01 well-1 well-1__off4">
  <div class="container">
      <div class="title-wrap">
          <!-- <h4>Что-то можно написать)</h4> -->

          <h2>Драм театр</h2>
      </div>
      <div class="row row__offset-1">
          <div class="grid_10 preffix_1">
              <img src="assets/images/grodno/1-dram.jpg" class="mt first" alt=""/>

              <h4 class="lh">1947 г.</h4>
              <!-- <h4 class="lh align">1947 г.</h4> -->

              <p>Постановлением Совета Министров БССР в Гродно создан областной драматический театр. Официальное театра состоялось премьерным спектаклем «В одном городе» по пьесе А.Сафронова.</p>

              <h4 class="lh">1949 г.</h4>

              <p class="offset">Театр принимает участие во Всесоюзном просмотре спектаклей на современную тематику с постановкой «Счастье» П. Павленко, режиссер Н. Ковязин. Главный режиссер театра Николай Александрович Ковязин получил почетное звание «Заслуженный артист БССР».</p>

              <h4 class="lh">1950-е гг.</h4>

              <p >Почетное звание «Заслуженный артист БССР» получили: главный режиссер театра Иосиф Попов, артисты Софья Иванова, Григорий Глиноецкий, Мария Ковязина, Мария Останкова, Яков Кимберг. Спектакль «Год свершения» по пьесе П.Василевского отмечен среди лучших работ на Республиканском фестивале драматических театров.</p>

              <h4 class="lh">1953-1955-е гг.</h4>

              <p class="offset">Коллектив театра возглавлял заслуженный деятель культуры БССР, режиссер Александр Васильевич Миронский.</p>

              <h4 class="lh">1955-1963-е гг.</h4>

              <p>Коллектив возглавлял народный артист БССР, режиссер, педагог Попов Иосиф Степанович.</p>

              <h4 class="lh">1960-е гг.</h4>

              <p class="offset">Почетное звание «Заслуженный артист БССР» получили артисты Анна Панкрат, Витольд Гречинский, Людмила Сторожева, Петр Филиппов, Семен Александров, Алексей Биричевский и Алексей Царев. Заслуженный артист БССР Яков Кимберг первым в театре получил почетное звание «Народный артист БССР». Почетного звания «Заслуженный деятель культуры БССР» удостоен директор театра Иван Михалюто. Впервые состоялись обменные гастроли с Белостокским драматическим театром имени А.Венгерки.</p>

              <h4 class="lh">1963-1975-е гг.</h4>

              <p>Коллектив возглавлял актер, режиссер, заслуженный деятель искусств РСФСР Александр Петрович Струнин.</p>

              <h4 class="lh">1970-е гг. </h4>

              <p>Почетное звание «Заслуженный артист БССР» получили артисты Юрий Никитин, Тамара Николаева, Виктор Смачнев, Нели Короткевич, Владимир Мищанчук, Людмила Дементьева.</p>

              <h4 class="lh">1975-1981-е гг.</h4>

              <p>Творческий коллектив возглавлял актер, режиссер Владимир Короткевич.</p>
              
              <h4 class="lh">1980-е гг.</h4>

              <p>Почетное звание «Заслуженный артист БССР» получили артисты Николай Емельянов и Елена Луценко-Гайдулис. В марте 1984 г. труппа переезжает в новый театр и отмечает новоселье спектаклем «Вечно живые» по пьесе В.Розова. При театре была создана музыкальная группа «Театр», бессменным руководителем которой является композитор Анатолий Кандыба. Уже в 1987 г. на фестивале «Рок-крок» в Польше и в 1988 г. на фестивале «Надежда» в Минске группа получает гран-при. Народный артист СССР, лауреат Государственных премий СССР и РСФСР Евгений Симонов ставит в нашем театре спектакль «Три возраста Казановы», с участием Лауреата Ленинской премии, народного артиста СССР Василия Ланового. С успехом прошли гастроли нашего театра в Абхазии. Актер Владимир Шакало получил почетное звание «Заслуженный артист Абхазской АССР».</p>

              <h4 class="lh">1984-1991-е гг.</h4>

              <p>Коллектив театра возглавлял режиссер, заслуженный деятель искусств Татарской АССР и Абхазской АССР Игорь Сергеевич Петровский.</p>

              <h4 class="lh">1990-е гг.</h4>

              <p>Почетное звание «Заслуженный артист БССР» получили артисты Валерий Смирнов, Александр Марцинюк. На V Межгосударственном фестивале «Искусство за содружество славянских народов» в Брянске (1993) роль Лолиты (спектакль «Лолита») в исполнении актрисы театра Светланы Завадской отмечена как лучшая женская роль. Почетное звание «Заслуженный артист Республики Беларусь» получили артисты Людмила Волкова и Сергей Куриленко. В театре начинает работать модерн-балет «Галерея» под руководством хореографа-постановщика Александра Тебенькова – неоднократный участник Международных фестивалей современной хореографии в Беларуси, Литве, Эстонии, России, Польше, США, Монако. На «Молодеченской сакавице-96» роль Норы в исполнении Людмилы Волковой отмечена как лучшая женская роль года. Актриса получила приз БСТД «Хрустальный цветок».</p>

              <h4 class="lh">1991-1994-е гг.</h4>

              <p>Творческий коллектив возглавлял режиссер Михаил Резцов.</p>

              <h4 class="lh">1994-1998-е гг.</h4>

              <p>Творческий коллектив театра возглавлял Геннадий Мушперт.</p>

              <h4 class="lh">2000-е гг.</h4>

              <p>Диплом ІІ Республиканского фестиваля творческой молодежи «Надежда–2001» артистке Оксане Пликус за исполнение роли Маши Клягиной в спектакле «Рок-концерт с Григорием Гориным». На Х Республиканском фестивале национальной драматургии имени В. Дунина-Марцинкевича в Бобруйске (2001) роль Уршули Радзивил из спектакля «Наука любви» в исполнении Елены Гайдулис названа лучшей женской ролью, а Сергей Ковалев и Олег Жюгжда – лучшими автором и режиссером. Постановочная группа спектакля «Русалочка» отмечена Республиканской театральной премией имени Л.Мозалевской и призом БСТД «Вдохновение» (2003).

                    Диплом участника и специальный приз V Международного фестиваля русских театров СНГ и Балтии «Встречи в России» (г. Санкт-Петербург, 2003) за спектакль «Рок-концерт с Григорием Гориным», режиссер Геннадий Мушперт.
                    
                    Приз VІ Московского международного телевизионно-театрального фестиваля «Ожившая сказка» (2004) и премия фонда И. Смоктуновского Татьяне Мацевич (Соколовской) за лучшую сценографию к спектаклю «Волшебный дар».
                    
                    Специальный приз и Почетная грамота VІ Московского международного телевизионно-театрального фестиваля «Ожившая сказка» режиссеру спектакля «Играем в Маршака» Геннадию Мушперту. Специальный приз VІ Международного фестиваля русских театров СНГ и Балтии «Встречи в России» (г. Санкт-Петербург, 2004) за спектакль «Одинокий запад», режиссер Геннадий Мушперт.
                    
                    Дипломы победителей VІІІ Международного фестиваля античного искусства «Боспорские агоны» (2006) Автономной Республики Крым за лучшую режиссуру Геннадию Мушперту (спектакль «Рок-концерт с Григорием Гориным») и за лучшую мужскую роль Александру Шелкоплясову (роль Клягина в спектакле «Рок-концерт с Григорием Гориным»).
                    
                    Диплом участника и специальный приз ІХ Международного фестиваля русских театров СНГ и Балтии «Встречи в России» (г. Санкт-Петербург, 2007) за спектакль «Мальчик и Маргарита», режиссер Геннадий Мушперт.
                    
                    Диплом участника и приз ІХ Международного фестиваля античного искусства «Боспорские агоны» (2007) за спектакль «Одинокий запад», режиссер Геннадий Мушперт.
                    
                    Республиканская театральная премия Министерства культуры Республики Беларусь и БСТД им. Я.Мировича и приз «Вдохновение» (2007) режиссеру Геннадию Мушперту за большие творческие достижения и заслуги в деле развития театрального искусства страны.
                    
                    Почетное звание «Заслуженный артист Республики Беларусь» получил артист Александр Шелкоплясов.
                    
                    Специальный приз и Диплом БСТД «За преданность театру» получила заслуженная артистка БССР Елена Луценко-Гайдулис.</p>

                    <h4 class="lh">2001-2003-е гг.</h4>

                    <p>Творческий коллектив возглавлял Олег Жюгжда.</p>

                    <h4 class="lh">2009-2011, 2013-е гг.</h4>

                    <p>Творческий коллектив вновь возглавил Геннадий Мушперт.</p>

                    <h4 class="lh">2010 г.</h4>

                    <p>Диплом ХV Международного фестиваля «Белая Вежа» за лучшую эпизодическую роль артисту Василию Миничу (спектакль «Чайка», режиссер В.Мацулевич).</p>

                    <h4 class="lh">2011 г.</h4>

                    <p>За высокие достижения в области театрального искусства и значительный вклад в развитие национальной культуры коллективу театра присвоено звание «Заслуженный коллектив Республики Беларусь».

                            Медалью Франциска Скорины награждена актриса театра Светлана Морецкая (Литвиненок).
                            
                            Нагрудный знак Министерства культуры Республики Беларусь «За вклад в развитие культуры Беларуси» получили заслуженный артист Республики Беларусь Сергей Куриленко и директор театра Григорий Марковец.</p>

                            <h4 class="lh">2012 г.</h4>

                            <p>Главная награда ХІV Международного фестиваля русских театров СНГ и Балтии «Встречи в России» (г. Санкт-Петербург) – премия имени Народного артиста СССР Кирилла Лаврова за спектакль «Полет над гнездом кукушки», режиссер Геннадий Мушперт.

                                    Нагрудный знак Министерства культуры Республики Беларусь «За вклад в развитие культуры Беларуси» получили заслуженные артисты Республики Беларусь Николай Емельянов и Людмила Волкова.</p>

                                    <h4 class="lh">2012 – 2013-е гг.</h4>

                                    <p>Творческий коллектив возглавлял Андрей Гузий.</p>

                                    <h4 class="lh">2014 г.</h4>

                                    <p>Диплом участника XVI Международного фестиваля русских театров СНГ и Балтии «Встречи в России» (г. Санкт-Петербург, 2014) за спектакль «Возвращение Дон Жуана», режиссер Геннадий Мушперт.

                                            В марте 2014 исполнилось 30 лет зданию нашего театра. Участие в III республиканском конкурсе театрального искусства «Национальная театральная премия» со спектаклем «Наш городок», режиссер Геннадий Мушперт.
                                            
                                            Нагрудный знак Министерства культуры Республики Беларусь «За вклад в развитие культуры Беларуси» получил главный режиссер театра Геннадий Мушперт.
                                            
                                            Медалью Франциска Скорины награждена актриса театра, заслуженная артистка Республики Беларусь Людмила Волкова.
                                            
                                            Грамота Совета Министров Республики Беларусь коллективу театра «За значительный вклад в развитие национального театрального искусства».</p>

                                            <h4 class="lh">2016 г.</h4>

                                            <p>Нагрудный знак Министерства культуры Республики Беларусь «За вклад в развитие культуры Беларуси» получила актриса театра Оксана Пликус.

                                                    Приз V Международного театрального фестиваля «Смоленский Ковчег» в номинации «Лучшая женская роль второго плана» Оксане Пликус за роль Турусиной в спектакле «На всякого мудреца довольно простоты», режиссер Геннадий Мушперт.
                                                    
                                                    Диплом участника V Международного театрального фестиваля «Смоленский Ковчег» (Смоленск, 2016) за спектакль «На всякого мудреца довольно простоты», режиссер Геннадий Мушперт.
                                                    
                                                    Диплом участника ХХІІ Международного фестиваля «Славянские театральные встречи» (Брянск, 2016) за спектакль «На всякого мудреца довольно простоты», режиссер Геннадий Мушперт.</p>

                                                    <h4 class="lh">2017 г.</h4>

                                                    <p>Почетное звание «Заслуженный артист Республики Беларусь» присвоено актрисе Светлане Морецкой (Литвиненок).

                                                            Коллектив нашего театра был отмечен Почетной грамотой Министерства культуры Республики Беларусь за многолетнюю плодотворную работу, высокое профессиональное мастерство и значительный вклад в развитие и популяризацию национальной культуры.
                                                            
                                                            Нагрудный знак Министерства культуры Республики Беларусь «За ўклад у развіццё культуры Беларусі» получили актёр теара Василий Минич и директор театра Игорь Гедич.</p>

                                                            <h4 class="lh">2018 г.</h4>

                                                            <p>Приз VI Международного театрального фестиваля «Смоленский Ковчег» в номинации «Лучшая мужская роль второго плана» Александру Кологриву за роль Битти в спектакле «451 по Фаренгейту», режиссер Геннадий Мушперт.

                                                                </p>
              <!-- <a class="mail mail-off" href="mailto:#"><strong>privacy@demolink.org</strong></a> -->
          </div>
      </div>
  </div>
</section>