<section class="parallax parallax4" data-parallax-speed="-0.5">
    <div class="container">
        <div class="row">
            <div class="grid_10 preffix_1">
                <div class="title-wrap title-wrap__md1">
                    <h4>Mission Statement</h4>

                    <h2 style="position: relative;">Цените и берегите вашу родину</h2>

                    <p style="position: relative;">Город в котором вы живёте и города по соседству имеют большое количетво историческо-ценных достопримечательностей. Каждый из них имеет интересную историю.</p>
                    <a style="position: relative;" routerLink="/catalog" class="btn-line">Узнать о своём городе</a>
                </div>
            </div>
        </div>
    </div>
</section>