<section class="parallax parallax4 parallax4__offset" data-parallax-speed="-0.5">
    <div class="container">
        <div class="title-wrap title-wrap__md1 wow fadeInUp" data-wow-delay="0.2s">
            <h4>Ut pharetra augue</h4>

            <h2>FORM / GENRE</h2>
        </div>
        <div class="row row__offset-4">
            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.1s">
                <ul class="mark-list">
                    <li><a href="#">Biography (281550)</a></li>
                    <li><a href="#">Fiction (223505)</a></li>
                    <li><a href="#">Congresses (135926)</a></li>
                    <li><a href="#">Exhibitions (103414)</a></li>
                </ul>
            </div>

            <div class="grid_3 wow fadeInLeft" data-wow-delay="0.2s">
                <ul class="mark-list">
                    <li><a href="#">Electronic Books (85920)</a></li>
                    <li><a href="#">Bibliography (75252)</a></li>
                    <li><a href="#">Catalogs (55981)</a></li>
                    <li><a href="#">Pictorial Works (54985)</a></li>
                </ul>
            </div>

            <div class="grid_3 wow fadeInRight" data-wow-delay="0.2s">
                <ul class="mark-list">
                    <li><a href="#">Dictionaries (52469)</a></li>
                    <li><a href="#">Sources (48473)</a></li>
                    <li><a href="#">History (785987)</a></li>
                    <li><a href="#">Politics and government (2001)</a></li>
                </ul>
            </div>

            <div class="grid_3 wow fadeInRight" data-wow-delay="0.1s">
                <ul class="mark-list">
                    <li><a href="#">History and criticism (179279)</a></li>
                    <li><a href="#">Description and travel (88739)</a></li>
                    <li><a href="#">Economic conditions (76105)</a></li>
                    <li><a href="#">Social conditions (75755)</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>