<section class="bg01 well-1 well-1__off4">
    <div class="container">
        <div class="title-wrap">
            <!-- <h4>Quisque diam lore</h4> -->

            <h2>Политика Конфиденциальности</h2>
        </div>
        <div class="row row__offset-1">
            <div class="grid_10 preffix_1 align">
                <h4 class="lh">Curabitur lacinia tristique imperdiet aenean bibendum vehicula diam nec placerat</h4>

                <p class="offset-3">Vestibulum congue congue dui ut porta. Aenean laoreet viverra turpis, a
                                    commodo purus
                                    eleifend a.
                                    Nam lacus dui; egestas ut aliquam nec, eleifend sit amet est. Nam justo
                                    elit, dictum id
                                    tempus a,
                                    ultricies tempus lacus. Nunc purus nibh; eleifend eget facilisis ac,
                                    sagittis non tortor.
                                    Vivamus
                                    eu enim a orci accumsan tincidunt ut ut elit. Vestibulum nisi orci, rutrum
                                    ac auctor non,
                                    viverra
                                    et magna? Sed vehicula sem et arcu tincidunt accumsan. In non pellentesque
                                    ipsum. Curabitur
                                    facilisis pellentesque pharetra. </p>

                <p class="offset">Donec justo urna, malesuada a viverra ac, pellentesque vitae nunc. Aenean ac
                                  leo eget nunc
                                  fringilla fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae,
                                  congue non
                                  nibh.
                                  Nulla bibendum, justo eget ultrices vestibulum, erat tortor venenatis risus,
                                  sit amet cursus
                                  dui
                                  augue a arcu. Quisque mauris risus, gravida a molestie eu, dictum ac augue.
                                  Integer sodales
                                  tempor lectus; sit amet dictum metus pharetra nec. Fusce bibendum dapibus
                                  pretium. Nunc eu
                                  sem
                                  vitae lacus laoreet elementum. Nulla facilisi. Phasellus ullamcorper elementum
                                  est, id
                                  pretium
                                  turpis bibendum vel. Aliquam a odio arcu. Morbi a dignissim nisl? Aenean
                                  aliquet magna.</p>

                <h4 class="lh">Vestibulum elementum tempus eleifend cum sociis natoque penatibus et magnis dis parturient
                    montes</h4>

                <p class="offset-3">Morbi dignissim tristique turpis sed sodales. In tincidunt dapibus semper.
                                    Nullam non orci eu massa tempus aliquam! Quisque placerat metus at neque
                                    aliquam sit amet iaculis lacus iaculis. Etiam ultrices condimentum justo eu
                                    viverra. Curabitur lacinia tristique imperdiet. Aenean bibendum vehicula
                                    diam nec placerat. Donec lectus leo, consequat sit amet viverra et, lacinia
                                    eu lectus! Nullam convallis; justo a vestibulum interdum, ipsum mauris
                                    lobortis urna, in fringilla elit erat at est. Nullam erat risus, volutpat
                                    quis porttitor eget, egestas odio.</p>

                <p class="offset">Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam pretium
                                  feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris.
                                  Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque
                                  pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
                                  Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac lacus ut
                                  neque rhoncus laoreet sed id tellus. Donec justo tellus, tincidunt vitae
                                  pellentesque nec, pharetra a orci. Praesent nunc nunc, egestas eget elementum
                                  sed; rutrum eget metus! Vestibulum congue congue dui ut porta. Aenean laoreet
                                  viverra turpis, a commodo purus eleifend a.</p>

                <h4 class="lh">Donec ultricies mattis mauris in bibendum vivamus sollicitudin venenatis metus</h4>

                <p class="offset-3">Nam lacus dui; egestas ut aliquam nec, eleifend sit amet est. Nam justo
                                    elit, dictum id tempus a, ultricies tempus lacus. Nunc purus nibh; eleifend
                                    eget facilisis ac, sagittis non tortor. Vivamus eu enim a orci accumsan
                                    tincidunt ut ut elit. Vestibulum nisi orci, rutrum ac auctor non, viverra et
                                    magna? Sed vehicula sem et arcu tincidunt accumsan. In non pellentesque
                                    ipsum. Curabitur facilisis pellentesque pharetra. Donec justo urna,
                                    malesuada a viverra ac, pellentesque vitae nunc. Aenean ac leo eget nunc
                                    fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue
                                    non nibh. Nulla bibendum, justo eget ultrices vestibulum, erat tortor
                                    venenatis risus.</p>

                <p class="offset">Sit amet cursus dui augue a arcu. Quisque mauris risus, gravida a molestie eu,
                                  dictum ac augue. Integer sodales tempor lectus; sit amet dictum metus pharetra
                                  nec. Fusce bibendum dapibus pretium. Nunc eu sem vitae lacus laoreet
                                  elementum. Nulla facilisi. Phasellus ullamcorper elementum est, id pretium
                                  turpis bibendum vel. Aliquam a odio arcu. Morbi a dignissim nisl? Aenean
                                  aliquet magna in nulla congue vehicula. Morbi dignissim tristique turpis sed
                                  sodales. In tincidunt dapibus semper. Nullam non orci eu massa tempus aliquam!
                                  Quisque placerat metus at neque aliquam sit amet iaculis lacus iaculis. Etiam
                                  ultrices condimentum justo eu viverra.</p>
                <a class="mail mail-off" href="mailto:#"><strong>privacy@demolink.org</strong></a>
            </div>
        </div>
    </div>
</section>