<section class="bg01 well-1 well-1__off4">
  <div class="container">
    <div class="title-wrap">
      <!-- <h4>Что-то можно написать)</h4> -->

      <h2>Памятник воинам железнодорожникам</h2>
    </div>
    <div class="row row__offset-1">
      <div class="grid_10 preffix_1">
        <img src="assets/images/lida/p1.jpg" class="mt first" alt="" />
        <p></p>
        <p>
          Памятник воинам-железнодорожникам находится в городе Лида, Гродненской
          области, Беларусь, недалеко от железной дороги и железнодорожного
          переезда и въезда в город с минского направления.
        </p>
        <p>
          Установленный на постамент паровоз посвящен воинам-железнодорожникам,
          которые освободили город во время Великой
        </p>
        <p>
          Отечественной войны. С двух сторон от памятника высажены клумбы с
          цветами. На центральной части постамента закреплена памятная табличка.
          Паровоз выкрашен в черный с красным цвет и имеет довольно реалистичный
          вид, будто настоящий паровоз стремится выехать на проезжую часть.
        </p>
        <!-- <a class="mail mail-off" href="mailto:#"><strong>privacy@demolink.org</strong></a> -->
      </div>
    </div>
  </div>
</section>
