<section class="popular">
  <div class="container">
    <div class="title-wrap">
      <h3>Памятник воинам железнодорожникам</h3>
    </div>
    <div class="row">
      <div class="description">
        <img src="assets/images/lida/p1.jpg" class="mt landmark-img" alt="" />
        <p></p>
        <p>
          Памятник воинам-железнодорожникам находится в городе Лида, Гродненской
          области, Беларусь, недалеко от железной дороги и железнодорожного
          переезда и въезда в город с минского направления.
        </p>
        <p>
          Установленный на постамент паровоз посвящен воинам-железнодорожникам,
          которые освободили город во время Великой
        </p>
        <p>
          Отечественной войны. С двух сторон от памятника высажены клумбы с
          цветами. На центральной части постамента закреплена памятная табличка.
          Паровоз выкрашен в черный с красным цвет и имеет довольно реалистичный
          вид, будто настоящий паровоз стремится выехать на проезжую часть.
        </p>
        <!-- <a class="mail mail-off" href="mailto:#"><strong>privacy@demolink.org</strong></a> -->
      </div>
    </div>
  </div>
</section>
