<section class="parallax parallax5" data-parallax-speed="-0.2">
    <div class="container">
        <div class="title-wrap title-wrap__color wow fadeInUp" data-wow-delay="0.2s">
            <h4>Lorem ipsum dolor</h4>

            <h2>PREMIUM SERVICES</h2>
        </div>
        <div class="row row__md">
            <div class="grid_4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-box" data-equal-group="1">
                    <img src="assets/images/page-4_img08.jpg" alt=""/>

                    <div class="txt-box">
                        <h4 class="lh">
                            <a href="#">Reproductions for Editorial or Commercial Use</a>
                        </h4>
                        <p class="offset-3">Vestibulum nisi orci, rutrum ac auctor non, viverra et magna? Sed
                                            vehicula sem et
                                            arcu.</p>
                    </div>
                </div>
            </div>
            <div class="grid_4 wow zoomIn" data-wow-delay="0.2s">
                <div class="bg-box" data-equal-group="1">
                    <img src="assets/images/page-4_img09.jpg" alt=""/>

                    <div class="txt-box">
                        <h4 class="lh">
                            <a href="#">Request Document Delivery</a>
                        </h4>
                        <p class="offset-3">Sed vehicula sem et arcu tincidunt accumsan. In non pellentesque
                                            ipsum. Curabitur facilisis pellentesque pharetra.</p>
                    </div>
                </div>
            </div>
            <div class="grid_4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-box" data-equal-group="1">
                    <img src="assets/images/page-4_img10.jpg" alt=""/>

                    <div class="txt-box">
                        <h4 class="lh">
                            <a href="#">Request Professional Research</a>
                        </h4>
                        <p class="offset-3">In non pellentesque ipsum. Curabitur facilisis pellentesque
                                            pharetra. Donec justo urna, malesuada a viverra ac, pellentesque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>