<div id="camera" #camera class="camera_wrap">
  <div data-src="assets/images/page-1_img01.jpg" data-thumb="assets/images/page-1_img01-thumb.jpg">
      <div class="camera_caption fadeIn">
          <h2>Create your own tutor profile for free</h2>
          <p>at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non </p>
      </div>
  </div>
  <div data-src="assets/images/page-1_img02.jpg" data-thumb="assets/images/page-1_img02-thumb.jpg">
      <div class="camera_caption fadeIn">
          <h2>the wonderful world of reading</h2>
          <p>se et accumsan et iusto odio dignissim qui blandit praesent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non habent clari</p>
      </div>
  </div>
  <div data-src="assets/images/page-1_img03.jpg" data-thumb="assets/images/page-1_img03-thumb.jpg">
      <div class="camera_caption fadeIn">
          <h2>create your future with us!</h2>
          <p>et iusto odio dignissim qui blandit praesent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non habent claritatem insita</p>
      </div>
  </div>
</div>