<section class="popular">
    <div class="container">
      <div class="title-wrap">
        <h3>Форма связи</h3>
      </div>

      <form class="rd-mailform  rd-form text-left">
        <div class="row row__offset">
          <div class="col-4" style="float: left;">
            <div class="form-wrap">
              <input class="form-input" id="contact-name" type="text" #name name="name" placeholder="Имя">
            </div>
          </div>
          <div class="col-4">
            <div class="form-wrap">
              <input class="form-input" id="contact-phone" type="tel" #phone name="phone" placeholder="Телефон">
            </div>
          </div>
          <div class="col-4" style="float: right;">
            <div class="form-wrap">
              <input class="form-input" id="contact-email" type="email" #email name="email" placeholder="E-Mail">
            </div>
          </div>
        </div>
        <div class="form-wrap row" style="margin-left: 15px;margin-right: 15px!important;">
          <textarea class="form-input" id="contact-message" #message name="message" placeholder="Сообщение"></textarea>
        </div>
        <div class="form-button group-sm">
          <button class="button btn-line" style="float: right;" (click)="send(name.value, phone.value, email.value, message.value)" type="submit">Отправит</button>
        </div>
      </form>
    </div>
</section>