<section class="well">
    <div class="container">
        <div class="title-wrap  wow fadeInUp" data-wow-delay="0.2s">
            <!-- <h4>Ceonsequat vel illu</h4> -->
            <h2>О нас</h2>
        </div>
        <div class="row row__md wow fadeInDown" data-wow-delay="0.2s">
            <div class="grid_2 align">
                <img src="assets/images/page-1_img04.png" alt=""/>
            </div>
            <div class="grid_10">
                <h4>
                    <a routerLink="/catalog">Каталог</a>
                </h4>
                <p class="offset">Вы можете просмотреть и узнать о достопримечательностях в Гродно и Гродненской области</p>
            </div>
        </div>
        <div class="row row__offset wow fadeInDown" data-wow-delay="0.2s">
            <div class="grid_2 align">
                <img src="assets/images/page-1_img05.png" alt=""/>
            </div>
            <div class="grid_10">
                <h4>
                    <a routerLink="/privacy-policy">Помощ</a>
                </h4>
                <p class="offset">Вы можете найти информацию по интересующему вам вопросу</p>
            </div>
        </div>
        <div class="row row__offset wow fadeInDown" data-wow-delay="0.2s">
            <div class="grid_2 align">
                <img src="assets/images/page-1_img06.png" alt=""/>
            </div>
            <div class="grid_10">
                <h4>
                    <a routerLink="/contacts">Спросить</a>
                </h4>
                <p class="offset">Вы можете саязаться с администраторами сайта и получит необходимую вам информацию</p>
            </div>
        </div>
    </div>
</section>