<!-- <section class="parallax parallax6" data-parallax-speed="-0.5">
    <div class="container">
      <div class="title-wrap title-wrap__color wow fadeInUp" data-wow-delay="0.2s">
        <h4>Duis non tellus non</h4>

        <h2>latest video</h2>
      </div>
      
    </div>
  </section> -->
  <div class="info-wrap-1 offset wow fadeInRight" data-wow-delay="0.2s">
      <div class="box">
        <div class="box_aside" style="width: 100%;">
          <!-- <iframe [src]='safeURL' style="width: 100%;" class="video-wrap mt" frameborder="0" allowfullscreen></iframe> -->
          <iframe src="https://www.youtube.com/embed/2LPM9Xix2qc" style="width: 100%;" class="video-wrap mt" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- <div class="box_cnt__no-flow">
          <h3>Odio dignissim qui blandit praesent</h3>
          <h4 class="color-font">Donec in velit vel ipsum auctor pulvinar</h4>

          <p class="offset-1">Cras vehicula vehicula nunc id fringilla? Nulla vestibulum condimentum
            felis, in viverra erat
            vehicula sed. Phasellus hendrerit dapibus libero, non malesuada nunc
            consectetur sed.
            Vestibulum volutpat suscipit sem.</p>

          <p class="offset">Nec bibendum massa malesuada eget. Donec ultricies mattis mauris in
            bibendum. Vivamus
            sollicitudin venenatis metus; a ullamcorper tortor
            dignissim a. Curabitur non orci sit amet magna scelerisque volutpat.
            Mauris ipsum metus,
            molestie vel pellentesque eget, vehicula eu arcu. </p>

        </div> -->
      </div>
    </div>